<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <%- include('partials/head') %>
</head>
<body>
    <div class="container p-4">
        <div class ="row">
            <div class = "col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            
                            <div class="input-group mb-3">
                                <input type="file" name="image" class="form-control" id="inputGroupFile02">
                              </div>

                            <div class="form-floating" style="margin-bottom: 15px;">
                                <input class="form-control" name="title" placeholder="Leave a comment here" id="floatingTextarea"></input>
                                <label for="floatingTextarea">Titulo</label>
                              </div>


                              <div class="form-floating">
                                <textarea class="form-control" name="description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Descripción</label>
                              </div> 

                              <button type="submit" class="btn btn-outline-success" style="margin-top: 15px; width: 100%; ">Subir</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>